<body class="text-center" >
  <form class="form-signin">
    <img class="mb-4" src="../../assets/img/rustic.png" style="border-radius: 10px;" alt width="158" height="122" />
    <h1 class="h3 mb-3 font-weight-normal">Iniciar sesión</h1>
    <input type="text" (blur)="validate()" [(ngModel)]="userName" name="userName" placeholder="Usuario" class="form-control" required
      autofocus>
    <input type="password" (blur)="validate()" [(ngModel)]="password" name="password" placeholder="Contraseña" class="form-control"
      required>
    <button type="submit" class="btn btn-lg btn-primary btn-block" (click)="authenticateUser()">Registrarse</button>
    <!-- <button type="submit" class="btn btn-lg btn-primary btn-block" (click)="WindowOpen()">Ir a...</button> -->
  </form>  
</body>