  <div class="container">

    <div class="row title-parent">
      <div class="col-sm-10 div-title" style="display: inline-block;">
        <h4 class="mb-3">Administrar Pedidos</h4>
      </div>
      <div class="col-sm-2" style="display: inline-block; margin: auto; text-align: right; padding-right: 3%;">
        <button type="button" class="btn btn-primary" [routerLink]="['/do-orders']">Crear
          Pedido</button>
      </div>
    </div>

    <div class="row" style="margin-bottom: 1%; margin-left: 0px; margin-right: 0px;">
      <div class="col-sm-8"></div>
      <div class="col-sm-4" style="float: left; padding: 10px;">
        <div class="input-group" style="padding-right: 6%;">
          <input name="searchText" [(ngModel)]="searchText" class="form-control" type="text" placeholder="buscar">
          <div class="input-group-append">
            <span class="input-group-text">
              <i class="fa fa-search"></i>
            </span>
          </div>
        </div>
      </div>
    </div>

    <table class="table table-hover table-font">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Fecha</th>
          <th scope="col">Mesero</th>
          <th scope="col">Mesa</th>
          <th scope="col">Estado</th>
          <th scope="col">Ver detalle</th>
          <th scope="col">Modificar Pedido</th>
          <th scope="col">Pagar Pedido</th>
          <th scope="col">Cancelar Pedido</th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="let order of orders | paginate: {itemsPerPage: 10, currentPage: currentPage, totalItems: total } | filter : 'name' : searchText; let i = index;">
          <th scope="row">{{order.Id}}</th>
          <td>{{order.OrderDate | date: 'dd/MM/yyyy hh:mm:ss'}}</td>
          <td>{{order.User.UserName}}</td>
          <td>{{order.Table.Name}}</td>
          <td>{{order.State.Name}}</td>
          <td class="text-center"><button type="button" class="btn btn-default"><span class="fa fa-eye fa-lg"
                (click)="viewOrder(order)" aria-hidden="true"></span></button></td>
          <td class="text-center"><button type="button" class="btn btn-default"><span
                class="fa fa-pencil-square-o fa-lg" [routerLink]="['/do-orders', order.Id]"
                aria-hidden="true"></span></button></td>
          <td class="text-center"><button type="button" class="btn btn-default"><span class="fa fa-money fa-lg"
                (click)="doOrderPayment(order)" aria-hidden="true"></span></button></td>
          <td class="text-center"><button type="button" class="btn btn-default"><span class="fa fa-trash-o fa-lg"
                (click)="orderCancel(order)" aria-hidden="true"></span></button></td>
        </tr>
      </tbody>
    </table>
    <pagination-controls (pageChange)="currentPage = $event" previousLabel="Anterior" nextLabel="Siguiente">
    </pagination-controls>
  </div>
