.container {
  font-family: Varela Round, sans-serif !important;
}

.title-parent {
  background-color: #4b5366;
  margin-left: 0px;
  margin-right: 0px;
}

.div-title {
  color: #ffffff;
  padding-top: 15px;
  padding-left: 15px;
}

.table-font {
  font-size: 14px;
  color: #333;
}