.table-font {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  color: #333;
  font-weight: normal;
}

.btn-primary {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary {
  color: #333;
  background-color: #348dec;
  border-color: #007bff;
}

.btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open>.dropdown-toggle.btn-default {
  color: #333;
  background-color: #348dec;
  border-color: #007bff;
}

.row-style1 {
  background-color: rgb(222, 226, 230);
  padding: 4px;
  border-top: 1px solid;
  border-top-color: #dee2e6;
  border-bottom: 1px solid;
  border-bottom-color: #dee2e6;
}

.row-style2 {
  padding: 4px;
}

.input-style {
  font-weight: bold;

}
