<div class="modal-content">
  <div class="modal-header">
    <h4 class="modal-title">{{ title }}</h4>
    <button type="button" class="close" aria-label="Close" (click)="dismiss()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="row modal-body" style="width: 95%; margin-left: 20px;">
    <h6 class="text-muted"><i class="fa fa-cutlery"></i> {{message}}: #{{order.Id}} - {{order.Table.Name}}</h6>
    <div class="container table-font">
      <div class="row row-style1">
        <div class="col-sm-4">
          <label class="input-style"><span class="fa fa-shopping-cart" aria-hidden="true"></span> Total Compra</label>
        </div>
        <div class="col-sm-6">
          <label class="input-style">{{order.OrderTotal | currency}}</label>
        </div>
      </div>

      <div class="row row-style2">
        <div class="col-sm-4">
          Propina Sugerida
        </div>
        <div class="col-sm-6">
          <input class="form-control input-style" type="text" name="tip" value="{{order.Tip | currency}}"
            (change)="modelChanged($event)">
        </div>
      </div>

      <div class="row row-style1">
        <div class="col-sm-4">
          Descuento Autorizado
        </div>
        <div class="col-sm-6">
          <input class="form-control input-style" type="text" name="discount" value="{{order.Discount | currency}}"
            (change)="modelChanged($event)">
        </div>
      </div>

      <div class="row row-style2">
        <div class="col-sm-4">
          Total a Pagar con Propina
        </div>
        <div class="col-sm-6">
          <input class="form-control input-style" type="text" name="orderTotalWithTip"
            value="{{orderTotalWithTip | currency}}" (change)="modelChanged($event)">
        </div>
      </div>

      <div class="row row-style1">
        <div class="col-sm-4">
          Efectivo
        </div>
        <div class="col-sm-6">
          <input class="form-control input-style" type="text" name="cashTotal" value="{{order.CashTotal | currency}}"
            (change)="modelChanged($event)">
        </div>
      </div>

      <div class="row row-style2">
        <div class="col-sm-4">
          Pago con Tarjeta
        </div>
        <div class="col-sm-6">
          <input class="form-control input-style" type="text" name="cardTotal" value="{{order.CardTotal | currency}}"
            (change)="modelChanged($event)">
        </div>
      </div>

      <div class="row row-style1">
        <div class="col-sm-4">
          Número Voucher Tarjeta
        </div>
        <div class="col-sm-6">
          <input class="form-control input-style" type="text" value="{{order.Voucher | currency}}">
        </div>
      </div>

      <div class="row row-style2">
        <div class="col-sm-4">
          <label class="input-style">Cambio</label>
        </div>
        <div class="col-sm-6">
          <label class="input-style">{{change | currency}}</label>
        </div>
      </div>
    </div>
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-default table-font" (click)="doPayment()">
      <span class="fa fa-check fa-lg" aria-hidden="true"></span>
      {{ btnDoPayment }}
    </button>
    <button type="button" class="btn btn-primary table-font" (click)="accept()">
      <span class="fa fa-times-circle fa-lg" aria-hidden="true"></span>
      {{ btnCloseText }}
    </button>
  </div>
</div>
