.table-font {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: #333;
  font-weight: normal;
}

.btn-primary {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary {
  color: #333;
  background-color: #348dec;
  border-color: #007bff;
}

.btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open>.dropdown-toggle.btn-default {
  color: #333;
  background-color: #348dec;
  border-color: #007bff;
}