<div class="modal-content">
  <div class="modal-header">
    <h4 class="modal-title">{{ title }}</h4>
    <button type="button" class="close" aria-label="Close" (click)="dismiss()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="row modal-body" style="width: 95%; margin-left: 20px;">
    <h6 class="text-muted"><i class="fa fa-cutlery"></i> {{message}}: #{{order.Id}} - {{order.Table.Name}}</h6>
    <div [ngClass]="{'pre-scrollable': order.OrderDetails.length > 8, 'text-muted':!order.OrderDetails.length > 8 }">
      <table class="table table-striped table-font">
        <thead>
          <th scope="col">Cantidad</th>
          <th scope="col">Producto</th>
          <th scope="col">Adiciones - Precio</th>
          <th scope="col">Precio Unitario</th>
          <th scope="col">Total Producto</th>
        </thead>
        <tbody>
          <tr *ngFor="let item of orderWithAddition">
            <td style="vertical-align: middle;" scope="row">{{item.ProductAmount}}</td>
            <td style="vertical-align: middle;">{{item.ProductName}}</td>
            <td class="text-capitalize">
              <p style="font-size:12px !important; margin-bottom: 0px;" *ngFor="let a of item.ProductAdditions">
                {{a.Name}} - {{a.Price | currency}}</p>
            </td>
            <td class="text-right" style="vertical-align: middle;">{{item.UnitPriceProduct | currency}}</td>
            <td class="text-right" style="vertical-align: middle;">{{item.SummaryProductPurchase | currency}}</td>
          </tr>
          <tr *ngFor="let item of orderWithOutAddition">
            <td style="vertical-align: middle;" scope="row">{{item.ProductAmount}}</td>
            <td style="vertical-align: middle;">{{item.ProductName}}</td>
            <td class="text-capitalize">
              <p style="font-size:12px !important; margin-bottom: 0px;">
                Sin adiciones</p>
            </td>
            <td class="text-right" style="vertical-align: middle;">{{item.UnitPriceProduct | currency}}</td>
            <td class="text-right" style="vertical-align: middle;">{{item.SummaryProductPurchase | currency}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="modal-footer">
    <div id="dvsumOrder" style="font-weight: bolder; float: left;margin: auto;margin-left: 10px; " class="table-font">
      <span>Total sin Propina: {{summaryOrderTotal | currency}}</span>
    </div>
    <button type="button" class="btn btn-default table-font" data-dismiss="modal" (click)="printTicket()">
      <span class="fa fa-print fa-lg" aria-hidden="true"></span>
      {{ btnPrintText }}
    </button>
    <button type="button" class="btn btn-default table-font" (click)="paymentConfirm()" >
      <span class="fa fa-check fa-lg" aria-hidden="true"></span>
      {{ btnOkText }}
    </button>
    <button type="button" class="btn btn-primary table-font" (click)="accept()">
      <span class="fa fa-times-circle fa-lg" aria-hidden="true"></span>
      {{ btnCloseText }}
    </button>
  </div>
</div>
