<div class="modal-content">
  <div class="modal-header">
    <h4 class="modal-title">{{ title }}</h4>
    <button type="button" class="close" aria-label="Close" (click)="dismiss()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="row modal-body" style="width: 95%; margin-left: 20px;">
    <div *ngFor="let table of tables" style="margin-right: auto;">
      <div class="text-capitalize col-md-offset-3" style="padding: 5px 15px; margin: auto;">
        <input type="image" id="{{table.Id}}" src="../../assets/img/table.png"
          [ngClass]="{'img-default': !table.Checked, 'img-clicked': table.Checked}" style="width: 100px; height: 100px;"
          (click)="applyChanges(table)" />
        <div class="card-body">
          <p class="card-text" class="text-center" style="margin-top: 0px;"><small
              class="text-capitalize">{{table.Name}}</small></p>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal" (click)="decline()">{{ btnCancelText }}</button>
    <button type="button" class="btn btn-primary" (click)="accept()">{{ btnOkText }}</button>
  </div>
</div>
