.img-clicked{
    background-color:#6c757d;
    border-radius: 5px;
    width: 100px;
    height: 100px;
}

.img-default{
    background-color: #ffffff;
    border-radius: 5px;
    width: 100px;
    height: 100px;
}