<button type="button" class="btn btn-secondary btn-lg" (click)="openModal(template)">{{btnName}}</button>
<br><br>
<ng-template #template>
  <div class="modal-header">
    <h6 class="modal-title">{{title}}</h6>
    <button type="button" class="close" aria-label="Close" (click)="dismiss()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    {{message}}
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" (click)="confirm()">{{btnOkText}}</button>
    <button type="button" class="btn btn-primary" (click)="decline()">{{btnCancelText}}</button>
  </div>
</ng-template>
