.body {
    line-height: normal !important;
}

.left {
    float: right;
    background: red;
}

.right {
    float: right;
    background: red;
}

.center {
    text-align: center;
}

.img-fluid {
    max-width: 30%;
    margin: 3px 1px;
}

.img-category {
    margin: 3px 1px;
    width: 120px;
    height: 120px;

    /* max-width: 30%;
    max-height: 20%; */
}

.img-product {
    margin: 3px 1px;
    width: 90px;
    height: 90px;
}

div#btn-orders {
    float: right;
}

.summary-order {
    margin-top: 1%;
    border-top: 1px solid rgba(0, 0, 0, 0.125);
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

.item-list {
    list-style-type: none;
    position: relative;
    display: block;
    padding: .75rem 1.25rem;
    margin-bottom: -1px;
    background-color: #fff;
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
    border-top: 1px solid rgba(0, 0, 0, 0.125);
}

.item-list-w {
    font-weight: 700;
}

.card-body {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding-top: 0.25em;
    padding-left: 0.8em;
    padding-bottom: 0.3em;
    padding-right: 0.25em;
    text-align: left;
}

.text-prod-pos {
    text-align: left !important;
}

div#btncategory {
    margin-top: 5px;
}

.btn-disabled {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    -webkit-transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
    color: #fff;
    background-color: #6c757d;
    border-color: #6c757d;
}

.btn-enable {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    -webkit-transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
    color: #fff;
    background-color: #0069d9;
    border-color: #0062cc;
}

.rs-card-title {
    margin-bottom: 0.25em;
}

.rs-card-text {
    margin-bottom: 0.5em;
}

input.btn.btn-danger.btn-sm {
    margin-right: 3px;
}

div#add {
    float: right;
}

div#quantity {
    padding-left: 8px;
}

.title-addition {
    color: #000000;
    background-color: #dcdfe2;
    border-color: #dcdfe2;
    padding-left: 5px;
}

.pre-scrollable{
    width: 100%;
}
