<div class="container">
  <div class="row">
    <div class="col-md-7">
      <h4 class="mb-3">
        <span>Mi pedido</span>
      </h4>

      <!--Items pedido sin adiciones-->
      <div class="row" *ngFor="let item of orderWithOutAddition">
        <div class="col-md-2">
          <div>
            <div id="delete" style="display: inline-block;">
              <button type="button" class="btn btn-danger btn-sm" (click)="deleteProduct(item)">
                <span class="glyphicon glyphicon-minus text-left">-</span>
              </button>
            </div>
            <div id="quantity" style="display: inline-block">
              <h6 class="card-title text-center">{{item.ProductAmount}}</h6>
            </div>
            <div id="add" style="display: inline-block">
              <button type="button" class="btn btn-danger btn-sm" (click)="addProduct(item)">
                <span class="glyphicon glyphicon-plus text-right">+</span>
              </button>
            </div>
          </div>
        </div>
        <div class="col-md-8">
          <h6 class="card-title rs-card-title">{{item.ProductName}}</h6>
          <p class="card-text rs-card-text"><small class="text-muted">
              {{item.ProductDescription}}</small></p>
        </div>
        <div class="col-md-2">
          <h6 class="card-title text-right">{{(item.ProductAmount * item.UnitPriceProduct) | currency}}</h6>
        </div>
      </div>


      <!--Items pedido con adiciones-->
      <div *ngFor="let item of orderWithAddition">
        <div class="row">
          <div class="col-md-2">
            <div>
              <div id="delete" style="display: inline-block;">
                <button type="button" class="btn btn-danger btn-sm" (click)="deleteProduct(item)">
                  <span class="glyphicon glyphicon-minus text-left">-</span>
                </button>
              </div>
              <div id="quantity" style="display: inline-block">
                <h6 class="card-title text-center">{{item.ProductAmount}}</h6>
              </div>
              <div id="add" style="display: inline-block">
                <button type="button" class="btn btn-danger btn-sm" (click)="addProduct(item)">
                  <span class="glyphicon glyphicon-plus text-right">+</span>
                </button>
              </div>
            </div>
          </div>
          <div class="col-md-8">
            <h6 class="card-title rs-card-title">{{item.ProductName}}</h6>
            <p class="card-text rs-card-text"><small class="text-muted">
                {{item.ProductDescription}}</small></p>
          </div>
          <div class="col-md-2">
            <h6 class="card-title">{{item.SummaryProductPurchase | currency}}</h6>
          </div>
          <p style="margin-left: 125px; width: 65%; line-height:15px;" class="text-muted"><small
              class="text-muted text-capitalize">
              Adiciones: {{item.AdditionsDisplay}}</small></p>
        </div>
      </div>
    </div>

    <div class="col-md-5">
      <div style="text-align: center;">
        <h4 class="d-flex justify-content-between align-items-center mb-3">
          <span class="text-muted">Productos</span>
          <div id="btncategory">
            <button type="button" name="showProducts"
              [ngClass]="{'btn-disabled': !showProducts, 'btn-enable': showProducts}"
              (click)="changePropertyContainer(showProducts)">atras</button>
          </div>
        </h4>

        <div class="row" style="margin-top: 1%; padding-bottom: 2%; border: 1px solid rgba(0,0,0,.125);">
          <ng-container *ngIf="!showProducts">
            <ng-container *ngFor="let category of categories">
              <div class="col-md-4">
                <input type="image" src="{{category.ImagePath}}" style="padding: 1px; border: 2px; border-color: black;"
                  class="img-category rounded" (click)="getProductsByCategory(category)" />
                <div class="card-body">
                  <p class="card-text" class="center"><small class="text-capitalize">{{category.Name}}</small></p>
                </div>
              </div>
            </ng-container>
          </ng-container>

          <div class="pre-scrollable" *ngIf="showProducts">
            <div class="card mb-3 text-prod-pos" style="max-width: 445px;">
              <div class="row no-gutters" *ngFor="let product of categorySelected.Products">
                <div class="col-md-3">
                  <img src="{{product.ImagePath}}" class="img-product rounded">
                </div>
                <div class="col-md-6">
                  <div>
                    <h6 class="card-title">{{product.Name}}</h6>
                    <p class="card-text"><small class="text-muted">Descipción: {{product.Description}}</small></p>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="card-body">
                    <p class="card-text" style="text-align: right; padding-right: 10px;"><small
                        class="text-muted">{{product.Price | currency}}</small></p>
                    <input type="button" class="btn btn-danger" (click)="addToOrder(product)" value="Agregar" />
                  </div>
                </div>
              </div>
            </div>

            <!--additions-->
            <div class="card mb-3 text-prod-pos" style="max-width: 445px;" *ngIf="showAdditions">
              <span class="title-addition">Adiciones:</span>
              <p class="title-addition"><small class="text-muted">Opcional</small></p>
              <div class="row no-gutters" *ngFor="let addition of categoryAdditions">
                <div class="col-md-3">
                  <img src="{{addition.ImagePath}}" class="img-product rounded">
                </div>
                <div class="col-md-6">
                  <div class="text-capitalize">
                    <h6 class="card-title">{{addition.Name}}</h6>
                    <p class="card-text"><small class="text-muted">Descipción: {{addition.Description}}</small></p>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="card-body">
                    <p class="card-text" style="text-align: right; padding-right: 10px;"><small
                        class="text-muted">{{addition.Price | currency}}</small></p>
                    <input type="button" class="btn btn-danger" (click)="addAdditionToOrder(addition)"
                      value="Agregar" />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12 summary-order">
      <h4 class="mb-3">Resúmen de compra</h4>
      <div class="row">
        <div class="col-md-8">
          <div style="display: inline-block;" class="col-md-2">
            <span>Subtotal:</span>
          </div>
          <div style="display: inline-block;" class="col-md-6">
            <span><strong>{{clientOrder.OrderTotal | currency }}</strong></span>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-8">
          <div style="display: inline-block;" class="col-md-2">
            <span>Total:</span>
          </div>
          <div style="display: inline-block;" class="col-md-6">
            <span><strong>{{clientOrder.OrderTotal | currency }}</strong></span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="btn-orders" class="row">
    <div class="col-md-12 d-flex">
      <button type="button" class="btn btn-primary btn-lg" style="margin-top: 3%; margin-right: 5px;"
        (click)="createOrder()">Confirmar Pedido </button>
      <button id="btnCancel" type="button" class="btn btn-secondary btn-lg" (click)="orderCancel()"
        style="margin-top: 3%; margin-right: 0px;">Cancelar</button>
     </div>
  </div>
</div>
